@import 'https://fonts.googleapis.com/css?family=Raleway';


#navig{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    /* background: #66b6d6; */
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(34, 171, 250));
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.image_stb{
    width: 120px;
    padding: 5px 0 5px 30px;
    border-radius: 40%;
}

div.contai
{
    font-family: Raleway;
    margin: 0 auto;
	padding: 2em 1.5em;
	text-align: center;
}

div.contai a
{
    color: rgb(75, 72, 253);
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    font-weight: bold;
}

/* Top and Bottom borders come in */
div.topBotomBordersIn a:before, div.topBotomBordersIn a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersIn a:before
{
    top: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersIn a:after
{
    bottom: 0px;
    transform: translateY(10px);
}

div.topBotomBordersIn a:hover:before, div.topBotomBordersIn a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}




.nav-item {
    height: 80px;
  }
  
  .fa-bars {
    color: #fff;
  }
  

  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: absolute !important;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      /* height: 90vh; */
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #c4c4c4;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
 
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }

  }


